{% extends 'car_rental/base.html' %}


{% block content%}
    <div>
        <div class ="card">
            <h1>RentalCars.com - Special Offers Online</h1>
            <p>Rating:5/5 <span> ⭐ </span></p>
                <img src="https://hips.hearstapps.com/hmg-prod/images/10best-cars-group-cropped-1542126037.jpg">
            <p>fdnv;njvsdnvdlvndsvldnvldsvndlsnvdlsjnvd;lsjvnsdlnvdlsjnvdlvjndljnvdjvndljvdv</p>
            <a href="www.cars.com">Learn More ..</a>
        </div>
    </div>
<div class="our-services">
    <h2>Our services</h2>

</div>
{%endblock%}
   
